body {
  margin-bottom: 120px;
  background-color: white;
}

#btn2 {
  border-bottom: 2px solid #25eaa4;
  background-color: #d3d4d5;
}

#tablahistoria {
  width: 80%;
  font-family: sans-serif;
}

#odontograma {
  margin: auto;
  margin-top: 10px;
  font-family: sans-serif;
}

.imgd {
  margin: auto;
  width: 30px;
  height: 60px;
}

.imgdn {
  width: 28px;
  height: 60px;
}

.divd {
  height: 60px;
  width: 51px;
}

.divdn {
  height: 60px;
  width: 51px;
}

.dientev {
  appearance: none;
  width: 17px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px 10px 5px 5px;
}

.dientem {
  appearance: none;
  width: 17px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px 10px 10px 5px;
}

.diented {
  appearance: none;
  width: 17px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px 5px 5px 10px;
}

.dientep {
  appearance: none;
  width: 17px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px 5px 10px 10px;
  margin-bottom: 5px;
}

.dienteo {
  appearance: none;
  width: 17px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px 5px 5px 5px;
}

.dientei {
  appearance: none;
  width: 15px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px 5px 5px 5px;
}

.ente {
  appearance: none;
  width: 42px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px 10px 10px 10px;
}

.NT {
  appearance: none;
  width: 42px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px 10px 10px 10px;
}

.CPOD {
  appearance: none;
  width: 42px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px 10px 10px 10px;
}

#guardar {
  position: fixed;
  right: 2%;
  bottom: 12%;
  background-color: #25eaa4;
  color: white;
  z-index: 2;
}

#actualizar {
  position: fixed;
  right: 2%;
  bottom: 12%;
  background-color: #25eaa4;
  color: white;
  z-index: 2;
}