
#divtable {
  font-family: sans-serif;
    margin: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 120px;
}
.dato {
  width: 16px;
  border: none;
  text-align: center;
  background-color: transparent;
}
#resultado1 {
    width: 20%;
}

#permanente {
  width: 70%;
  margin: auto;
  font-size: 12px;
}
#superficie {
  width: 70%;
  margin: auto;
  font-size: 12px;
  margin-top: 5px;
}
#nectrat {
  width: 70%;
  margin: auto;
  font-size: 12px;
  margin-top: 5px;
}
#pufa {
  width: 70%;
  margin: auto;
  font-size: 12px;
  margin-top: 5px;
}
#resultado2 {
    width: 60%;
    padding: 10px;
}

#principal1 {
  text-align: center;
  font-size: 12px;
}
#principal2 {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 12px;
}
#principal3 {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
}
#principal4 {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 12px;
}


#resultado3 {
    width: 20%;
}
#deciduos {
  width: 70%;
  margin: auto;
  font-size: 12px;
}

#imprimir {
  background-color: #5dade2;
  color: white;
  position: absolute;
  bottom: 2%;
  right: 1%;
}