
.rounded {
    background-color: #2e5a8b
 }
 p {
 font-family: sans-serif;
 font-weight: normal;
}
.form-control {
 font-family: sans-serif;
 border-bottom: 2px solid #25eaa4;
}
.form-select {
 font-family: sans-serif;
 border-bottom: 2px solid #25eaa4;
}
#agregar {
 background-color: #25eaa4;
 color: white;
}
#end {
 margin-bottom: 60px;
}
 .dt-button.buttons-collection.buttons-page-length.text-white {
   background-color: #25eaa4;
   border-left: 2px solid #56baed;
}
.dt-button.buttons-print.text-white {
   background-color: #25eaa4;
   border-left: 2px solid #56baed;
}
.dt-button.buttons-excel.buttons-html5.text-white {
   background-color: #25eaa4;
   border-left: 2px solid #56baed;
}
.dt-button.buttons-pdf.buttons-html5.text-white {
   background-color: #25eaa4;
   border-left: 2px solid #56baed;
}
div#tablapaciente_info.dataTables_info {
  color: white;
}
div#tablapaciente_paginate.dataTables_paginate.paging_simple_numbers {
   color: white;
}
label {
  color: white;
}
input {
   color: white;
}
.text-white {
 font-family: sans-serif;
 text-decoration: none;
}
.text-celeste {
 font-family: sans-serif;
 text-decoration: none;
 color: #25eaa4;
}