
#btn7 {
  border-bottom: 2px solid #25eaa4;
  background-color: #565e64;
}
#rounded1 {
background-color: #2e5a8b;
}
#rounded2 {
background-color: #2e5a8b;
}
.text-white {
color: white;
}
#guardar {
background-color: #25eaa4;
color: white;
}
#contenedortabla {
background-color: #2e5a8b;
margin-bottom: 120px;
}
#tabla {
font-family: sans-serif;
}